*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#rond{
    height: 150px;
    width: 150px;
    margin: 5px;
    border-radius: 50%;
    background-color: brown;
}
h1{
    font-size: 60px;
    font-family: Bangers;
    text-align: center;
    margin: 100px;
    text-decoration: underline;
}
.test,
.carre{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 10px 10px 0 0 rgb(101, 233, 101) ;
    margin: 5px;
    background-color: rgb(26, 27, 24);
}
section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
height: 150px;
width: 150px;
}
p{
    margin-top: 100px;
    text-decoration: underline;
    text-align: center;
    font-size: 35px;
}